body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #7ff383;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

nav a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
}

main {
    display: flex;
    padding: 20px;
}

article {
    flex: 3;
    margin-right: 20px;
}

aside {
    flex: 1;
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #7ff383;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}
